*{
    box-sizing: border-box;
    margin: 0;
}



body{
    background-image: url("./fond.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;  
}



p{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .logo { grid-area: 1 / 2 / 3 / 3; }
        .logo{
            display:flex;
            height: 200px;
            margin-top: 80px;
        }
    .titre { grid-area: 2 / 4 / 3 / 5; }
        .titre{
            display: flex;
            color: white;
            font-size: 60px;
            font-family: 'Tangerine', cursive;
            margin-right: 300px;
        }
    .baniere { grid-area: 4 / 2 / 5 / 5; }
        .baniere{
            width: auto;
            background-color: #927410;
            height: 85px;
            display: flex;
            border-radius: 10px;
            margin-top: -90px;

        }
       
        img {
         max-width: 100%;
        }
        .slider-container {
        max-width: 780px;
        position:relative;
        margin:auto;
        height: 350px;
        overflow: hidden;
        margin-top: -1150px;
        display: flex;

        }
        .menu {
        position: absolute;
        left: 0;
        z-index: 11;
        width: 100%;
        bottom: 0;
        text-align: center;
        }
        .menu label {
        cursor: pointer;
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #ccc;
        border-radius: 50px;
        margin: 0 0.2em 1em;
        }
        .menu label:hover,.menu label:focus {
        background: #1C87C9;
        }
        .slide-input{
        opacity: 0;
        }
        .slide-img {
        width: 100%;
        height: 300px;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 10;
        transition: left 0s 0.75s;
        }
        [id^="slide"]:checked + .slide-img {
        left: 0;
        z-index: 100;
        transition: left 0.65s ease-out;
        }


    .photo1 { grid-area: 8 / 2 / 9 / 3; }
        .photo1 img{
            width: auto;
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center;
            margin-left: 520px;
            margin-top: 90px;
            
        }
    .photo2 { grid-area: 8 / 3 / 9 / 4; }
        .photo2 img{
            width: auto;
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center;
            margin-top: -150px;
            margin-left: 150px;
        }
    .photo3 { grid-area: 8 / 4 / 9 / 5; }
        .photo3 img{
            width: auto;
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center;
            margin-left: 950px;
            margin-top: -150px;
            
        }
    .photo4 { grid-area: 9 / 2 / 10 / 3; }
        .photo4 img{
            width: auto;
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center;
            margin-top: -400px;
            margin: 150px;
        }
  .photo5 { grid-area: 9 / 3 / 10 / 4; }
        .photo5 img{
            width: auto;
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center;
            margin: 150px;
            
        }
      .photo6 { grid-area: 9 / 4 / 10 / 5; }
        .photo6 img{
            width: auto;
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center;
            margin-top: -600px;
            margin-left: 540px;
            
            
        }
    .photo7 { grid-area: 10 / 2 / 11 / 3; }
        .photo7 img{
            width: auto;
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center;
            margin-top: -150px;
            margin-left: 980px;
            
        }
    .photo8 { grid-area: 10 / 3 / 11 / 4; }
        .photo8 img{
            width: auto;
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center;
            margin-top: 150px;
            margin-left: 540px;
        }
   .photo9 { grid-area: 10 / 4 / 11 / 5; }
        .photo9 img{
            width: auto;
            display: flex;
            height: 50px;
            justify-content: center;
            align-items: center; 
            


        }
    .footer { grid-area: 12 / 1 / 13 / 6; }
        .footer {
            display: flex;
            background-color: black;
            height: 180px ;
        }
    .mention { grid-area: 12 / 1 / 13 / 2; }
        .mention{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -250px;
            margin-left: -950px;
        }
    .accueil { grid-area: 12 / 3 / 13 / 4; }
        .accueil{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -35px;

        }
    .contact { grid-area: 12 / 5 / 13 / 6; }
        .contact{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1000px;
            margin-top: -45px;

        }
    .bouton { grid-area: 4 / 2 / 5 / 3; }
        .bouton{
            display: flex;
            margin-top: 0px;
            justify-content: space-around;
             }
  
    
       .accueil a{ 
        text-decoration: none;
        color: black;
        font-weight: bolder;
       }
   
       .vehicules a{
        text-decoration: none;
        color: black;
        font-weight: bolder;
       }
     
h4{
    color: white;

}



