*{
    box-sizing: border-box;
    margin: 0;
}



body{
    background-image: url("./fond.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    filter: grayscale(75%);
    
    
}

header{ 

    display: flex;
    height: 400px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;}
 
 .logo { grid-area: 2 / 2 / 3 / 3; }
        
            .logo{
                width: auto;
                height: 250px;
                display: flex;
                margin-top: 80px;
               
                position: relative ;  
            }

 
   
 

    .titre {grid-area: 3 / 2 / 4 / 5;}
        .titre{

            font-size: 30px;
            right: 35%;
            POSITION: relative;
            LEFT: 30%;
            margin-top: 10%;
            color: aliceblue;
        }



    .baniere   { grid-area: 5 / 2 / 6 / 5; }
        .baniere{
            width: auto;
            background-color: #ddaa00;
            height: 75px;
            display: flex;
            margin-top: 5vh;
            margin: 10%;
            border-radius: 10px;
        }
    


    .texte { grid-area: 4 / 2 / 6 / 5; }
        .texte{

            margin-top: 5%;
            background-color: rgb(78, 53, 20);
            margin: 10%;
        }


    .photo { grid-area: 8 / 4 / 11 / 5; }
            .photo{
                margin-right: 72%;
             
            }

            .texte2{

                margin-right: 10px;
            }


button{
    width: auto;
    background-color: rgb(102, 189, 31);
    height: 20px;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 30px;
    border-radius: 10px;
    box-align:center;
    

}
button:hover{
    background-color: rgb(167, 108, 21);
}
h2 {
    margin-top: 60px;
    
}




    
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .footer { grid-area: 1 / 1 / 2 / 6; }
        .footer{
            background-color: black;
            height: 300px;
            margin-top: 400px;
            margin: 0px;
        }
    .mention { grid-area: 1 / 1 / 2 / 2; }
            .mention{
                color: white;
                margin: 50px;
                box-align: center;
            }
    .accueil { grid-area: 1 / 3 / 2 / 4; }
            .accueil{
                color: white;
                margin: 50px;
                box-align: center;
            }

    .coordonée { grid-area: 1 / 5 / 2 / 6; }
        .coordonée {
            
                box-align: center;
                color: white;
                margin-left: 300px;
                
            
        }