*{
    box-sizing: border-box;
    margin: 0;
}



body{
    background-image: url("./fond.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;  
}



p{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: -50px;
    
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .logo { grid-area: 1 / 2 / 3 / 3; }
        .logo{
            display:flex;
            height: 200px;
            margin-top: 80px;
        }
    .titre { grid-area: 2 / 4 / 3 / 5; }
        .titre{
            display: flex;
            color: white;
            font-size: 60px;
            font-family: 'Tangerine', cursive;
            margin-right: 300px;
        }
    .baniere { grid-area: 4 / 2 / 5 / 5; }
        .baniere{
            width: auto;
            background-color: #927410;
            height: 85px;
            display: flex;
            border-radius: 10px;
            margin-top: -35px;
            

        }
       
        .slider{
            width: 500px;
            overflow: hidden;
            margin: 150px auto;
            margin-top: -1150px;
        }
        
        .slides{
            width: calc(500px * 3);
            height: 330px;
            animation: glisse 20s infinite;
        }
        
        .slide{
            float: left;
        }
        
        @keyframes glisse {
            0% {
                transform: translateX(0);
            }
            10% {
                transform: translateX(0);
            }
            33% { transform: translateX(-500px);
            }
            43%{
                transform: translateX(-500px);
            }
            66% { transform: translateX(-1000px);
            }
            76%{
                transform: translateX(-1000px);
            }
            100% { transform: translateX(0);
            }
        }

    .photo1 { grid-area: 8 / 2 / 9 / 3; }
        .photo1 img{
            width: auto;
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center;
            margin-left: 520px;
            margin-top: 90px;
            
        }
    .photo2 { grid-area: 8 / 3 / 9 / 4; }
        .photo2 img{
            width: auto;
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center;
            margin-top: -150px;
            margin-left: 150px;
        }
    .photo3 { grid-area: 8 / 4 / 9 / 5; }
        .photo3 img{
            width: auto;
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center;
            margin-left: 950px;
            margin-top: -150px;
            
        }
    .photo4 { grid-area: 9 / 2 / 10 / 3; }
        .photo4 img{
            width: auto;
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center;
            margin-top: -400px;
            margin: 150px;
        }
  .photo5 { grid-area: 9 / 3 / 10 / 4; }
        .photo5 img{
            width: auto;
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center;
            margin: 150px;
            
        }
      .photo6 { grid-area: 9 / 4 / 10 / 5; }
        .photo6 img{
            width: auto;
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center;
            margin-top: -600px;
            margin-left: 540px;
            
            
        }
    .photo7 { grid-area: 10 / 2 / 11 / 3; }
        .photo7 img{
            width: auto;
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center;
            margin-top: -150px;
            margin-left: 980px;
            
        }
    .photo8 { grid-area: 10 / 3 / 11 / 4; }
        .photo8 img{
            width: auto;
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center;
            margin-top: 150px;
            margin-left: 540px;
        }
   .photo9 { grid-area: 10 / 4 / 11 / 5; }
        .photo9 img{
            width: auto;
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center; 
            margin-top: -150px;
            margin-left: 980px;
            


        }
    .footer { grid-area: 12 / 1 / 13 / 6; }
        .footer {
            display: flex;
            background-color: black;
            height: 300px ;
            margin-top: 500px;
        }
    .mention { grid-area: 12 / 1 / 13 / 2; }
        .mention{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -250px;
            margin-left: -950px;
            color: white;
        }
    .accueil { grid-area: 12 / 3 / 13 / 4; }
        .accueil{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -35px;
            color: white;

        }
    .contact { grid-area: 12 / 5 / 13 / 6; }
        .contact{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1000px;
            margin-top: -45px;
            color: white;

        }
    .bouton { grid-area: 4 / 2 / 5 / 3; }
        .bouton{
            display: flex;
            margin-top: 0px;
            justify-content: space-around;
             }
  
    
      
     
.bouton a{
    text-decoration: none;
    color: rgb(5, 5, 5);
    font-weight: bolder;
    margin-top: -87px;
    justify-content: space-evenly;
    margin-left: 25px;
}


.formulaire{
    display: flex;
    background-color: aliceblue;
    width: 500px;
    top: 50%;
    margin-left: 30%;
    margin-top: 10%;
}

form{
    padding: 30px;
    
}

form h1{
    font-size: 20px;
}

form .séparation{
    width: 100%;
    height: 1px;
    background-color: black ;
}
form .corp-formaulaire{
    display: flex;
    flex: wrap;
    margin-bottom: 30px;
    
}

form .corp-formaulaire .boite{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form .corp-formaulaire .gauche .boite input{

    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color: #747cdf;
    border-radius: 5px;
}

form .corp-formaulaire .gauche .boite i{

    position: absolute;
    left: 0;
    top: 25px;
    padding: 9px 8px;
}

form .corp-formaulaire .droite{
    margin-left: 40px;
}

form .corp-formaulaire .droite .boite{
    height: 100%;
}

form .corp-formaulaire .droite .boite textarea{
    margin-top: 5px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 2px solid #747cdf;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 80%;
}

form .pied-formulaire button{
    margin-top: 10px;
    background-color: #747cdf;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}

form .pied-formulaire button:hover{
    transform: scale(1.05);
}

@media screen and(max-width:920px) {
    form .corp-formaulaire .droite{
        margin-left: 0px;
    }
}


